.case__graph {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}
.cases__main {
  /* margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; */

  display: grid;
  justify-content: center;
  grid-template-columns: 200px 200px;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-row: auto;
}

.confirmed__cases {
  border-radius: 5px;
  border-bottom: solid #ff073a 5px;
  border-top: solid #ff073a 5px;
  background-color: white;
}

.confirmed__cases {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.confirmed__cases:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.confirmed__cases {
  padding: 2px 16px;
}

.active__cases {
  border-radius: 5px;
  border-bottom: #007bff solid 5px;
  border-top: #007bff solid 5px;
  background-color: white;
}

.active__cases {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.active__cases:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.active__cases {
  padding: 2px 16px;
}

.recovered__cases {
  border-radius: 5px;
  border-bottom: limegreen solid 5px;
  border-top: limegreen solid 5px;
  background-color: white;
}

.recovered__cases {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.recovered__cases:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.recovered__cases {
  padding: 2px 16px;
}

.deceased__cases {
  border-radius: 5px;
  border-bottom: #6c757d solid 5px;
  border-top: #6c757d solid 5px;
  background-color: white;
}

.deceased__cases {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.deceased__cases:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.deceased__cases {
  padding: 2px 16px;
}
