.three__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph__static {
  width: 550px;
}
