.three__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.confirmed__button {
  margin-right: 10px;
  padding: 10px 20px 10px 20px;
  background-color: white;
  border: solid #ff073a;
  /* border-top: solid #ff073a;
  border-left: none;
  border-right: none; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.confirmed__button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.recovered__button {
  margin-right: 10px;
  padding: 10px 20px 10px 20px;
  background-color: white;
  border: limegreen solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.recovered__button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.deaths__button {
  padding: 10px 20px 10px 20px;
  background-color: white;
  border: #6c757d solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.deaths__button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.graph__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph__static {
  width: 630px;
}

@media (max-width: 480px) {
  .graph__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .graph__static {
    width: 390px;
  }
}
