.dropdown__barandstates {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card__graph {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.drop__original {
  padding: 10px 10px 10px 0;
}

.graph__statewise {
  min-width: 630px;
}

.row1 {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.row1 .confirmed__card {
  /* Add shadows to create the "card" effect */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  border-radius: 5px;
  border-bottom: solid #ff073a 4px;
  border-right: solid #ff073a 4px;
}

/* On mouse-over, add a deeper shadow */
.row1 .confirmed__card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.row1 .confirmed__card {
  padding: 2px;
  min-height: 140px;
  min-width: 175px;
  margin-right: 15px;
}

.row1 .active__card {
  /* Add shadows to create the "card" effect */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  border-radius: 5px;
  border-bottom: solid #007bff 4px;
  border-right: solid #007bff 4px;
}

/* On mouse-over, add a deeper shadow */
.row1 .active__card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.row1 .active__card {
  padding: 2px;
  min-height: 140px;
  min-width: 175px;
  margin-left: 15px;
}

.row2 {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
}

.row2 .recovered__card {
  /* Add shadows to create the "card" effect */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  border-radius: 5px;
  border-bottom: solid limegreen 4px;
  border-right: solid limegreen 4px;
}

/* On mouse-over, add a deeper shadow */
.row2 .recovered__card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.row2 .recovered__card {
  padding: 2px;
  min-height: 140px;
  min-width: 175px;
  margin-right: 15px;
}

.row2 .deaths__card {
  /* Add shadows to create the "card" effect */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  border-radius: 5px;
  border-bottom: solid #6c757d 4px;
  border-right: solid #6c757d 4px;
}

/* On mouse-over, add a deeper shadow */
.row2 .deaths__card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.row2 .deaths__card {
  padding: 2px;
  min-height: 140px;
  min-width: 175px;
  margin-left: 15px;
}

.row3 {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
}

.row3 .last__update {
  padding: 7px;
  min-width: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  border-radius: 5px;
  border-bottom: solid #6c757d 4px;
  border-right: solid #6c757d 4px;
}

.row3 .last__update:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
