.nav {
  display: flex;
  flex-direction: row;
  padding: 20px 10px 20px 10px;
  /* padding: 10px 10px 0px 10px; */
  justify-content: space-between;
  background: #f6f6f7;
}

.nav__right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav__left h2 {
  padding-left: 10px;
}

.nav__right h2 {
  padding-right: 15px;
}
